<phpunit displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">
    <php>
        <env name="DATABASE_HOST" value="127.0.0.1" />
        <env name="DATABASE_USER" value="root" />
        <env name="DATABASE_PASS" value="" />
        <env name="DATABASE_NAME" value="SiCATan" />
        <env name="CHAVE_TOKEN" value='LzpwVD5aJiwnJD9aQXd3WHxpQWdIcmFUfHE+VktXc3c2U2JMOD52YlZvPFMzc2pEQ2w=' />
    </php>
</phpunit>